*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    --bgColor: rgb(31, 30, 34);
    min-height: 100dvh;
    background-color: var(--bgColor);
    font-family: roboto;
    color: rgb(219, 219, 219);
}

.scroll-watcher{
    position: fixed;
    width: 100%;
    height: 10px;
    top: 0;
    transform-origin: left;
    z-index: 99;
    background-color: rgba(59, 231, 113, 0.669);
    scale: 0 1;
    animation: scroll-watcher linear;
    animation-timeline: scroll(nearest);
}

@keyframes scroll-watcher {
    to{
        scale: 1 1;
    }
}

.part{
    margin-bottom: 20px;
    height: 100svh;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    padding: 20dvw;
    position: relative;

    h1, h2{
        font-size: 4rem;
    }

    p{
        font-size: 1.4rem;
        line-height: 2rem;
    }

    .part__content{
        display: flex;
        gap: 20px;
        flex-direction: column;
        justify-content: center;
    }
}

/* If user hasn't disabled motion in browser */
@media (prefers-reduced-motion: no-preference){

    .part > img {
        animation: fadeIn linear forwards;
        animation-timeline: view();
        animation-range-start: cover;
        animation-range-end: contain 50px;
        /* exit, entry, cover, contain */
    }
    
    @keyframes fadeIn{
        from{
            scale: .8;
            opacity: 0;
        }
        to{
            scale: 1;
            opacity: 1;
        }
    }
}

.part1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("bg.png");
    background-color: rgba(0, 0, 0, 0.629);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 120%;
    opacity: 1;
    animation: bg-fadeOut linear forwards;
    transform-origin: top;
    animation-timeline: view();
    animation-range: exit;
    transform: translateZ(0);
}

.part__content{
    animation: bg-anim linear;
    animation-timeline: view();
    animation-range: exit -300px;
}

@keyframes bg-anim{
    to{
        opacity: 0;
    }
}

@keyframes bg-fadeOut{
    0%{
        opacity: 1;
    }
    85%, 100%{
        opacity: 0;
        background-size: 200%;
    }
}




.part3{
    background: linear-gradient(180deg, var(--bgColor), rgb(57, 55, 74));
}

.scroller{
    margin-top: 20px;
    overflow: hidden;
    width: 700px;
    mask: linear-gradient(90deg, transparent, white 20%, white 90%, transparent);
}

.scroller .scroller__inner{
    width: max-content;
    flex-wrap: nowrap;
    animation: scrolling linear;
    padding: 15px;
    animation-timeline: scroll(root);

    span{
        display: inline-block;
        margin-inline: 10px;
        padding: 10px 20px;
        background-color: rgba(20, 20, 20, 0.487);
        border-radius: 5px;
    }
}

@keyframes scrolling {
    to{
        transform: translate(-20%);
    }
}